.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 480px;
  height: 320px;
  background: rgba(253, 239, 239);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: DNFBitBitv2;
  font-size: 40px;
  color: #FB929E;
}