.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
}

.listName {
  display: flex;
  direction: row;
  width: 90%;
  justify-content: space-around;
  font-family: DNFBitBitv2;
}

.investmentInfoArea {
  width: 90%;
}

.juGa {
  position: relative;
  left: 57px;
}

.gap {
  position: relative;
  left: 57px;
}

.sudo {
  position: relative;
  left: 40px;
}
