.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 480px;
  height: 675px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoContainer {
  background-color: white;
  width: 90%;
  height: 1000px;
  padding: 12px;
  border-radius: 15px;
}
