.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 880px;
  height: 520px;
  background: rgba(255, 255, 255, 0.9);
}
