.kakaoLoginBG {
  min-height: 400px;
  max-height: 500px;
}

.clickCursor {
  cursor: pointer;
}

.nicknameLabel {
  color: white;
  font-weight: bold;
  text-align: left;
  background-color: transparent;
}

.inputField {
  background-color: white;
  color: black;
}

.checkButton {
  font-weight: bold;
  color: black;
  background-color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.profileLabel {
  color: white;
  font-weight: bold;
  text-align: left;
  background-color: transparent;
}

.previewBox {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewBoxModal {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}