.squareContainer {
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex: 1;
}
  
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 800px;
  max-width: 350px;
  margin: 0% 0% 0% 3%; /* 상 우 하 좌 마진 */
}

.rightContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
