.background {
  z-index: 20;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  width: 860px;
  height: 528px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.title {
  font-family: DNFBitBitv2;
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
}

.myStockDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myInfors {
  
}