.rankContainer {
    height: 100%;
    max-height: 500px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px; 
    color: white;
    overflow-y: auto;
  }

.myrankBox {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 3%;
  margin-left: 4px;
  margin-right: 4px;
}

.backButton {
  width: 100%;
  height: 50px;
}

.rankHeader {
  color: #FFC0CB;
}

.rankLabel {
  color: gray;
}

.rankValue {
  color: #FF6347; /* 밝은 빨강색, 토마토 색상 */
}

.rankItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 요소들을 양 끝으로 정렬 */
  width: 100%;
}

.rankDetail {
  flex: 1;
  /* display: flex;
  justify-content: between; */
  text-align: center; /* 텍스트를 중앙 정렬 */

}
.trophyImg {
  width: 15%; /* 트로피 이미지 크기 조정 */
  height: auto;
  padding: 3%;
}