.rankContainer {
    width: 50%;
    padding: 3%;
    /* margin-top: 2%; */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px; 
  }

.rankBox {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5%;
}

.myrankBox {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 3%;
  margin-left: 4px;
  margin-right: 4px;
}

.backButton {
  width: 100%;
  height: 50px;
}

.rankHeader {
  color: #FFC0CB;
}

.rankLabel {
  color: white;
}

.rankValue {
  color: #FF6347; /* 밝은 빨강색, 토마토 색상 */
}