.textButton {
    width: 240px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .messengerButton {
    width: 70px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15%;
    margin-left: 4px;
    margin-right: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }