.playerContainer {
  width: 840px;
  height: 420px;
  padding: 2% 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.playerBox {
  width: 340px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding-left: 4%;
  padding-bottom: 4%;
}

.playerNickName {
  font-family: DNFBitBitv2;
  font-size: 24px;
}

.playerTotalMoney {
  font-family: Galmuri11;
  font-size: 24px;
}

/* 

.playerInfo {
  display: flex;
  flex-direction: column;
  margin: auto 8px;
  margin-left: 20px;
  margin-top: 20px;
}

.player {
  display: flex;
  flex-direction: column;
}
*/

.playerReady {
  font-family: DNFBitBitv2;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: gray;
}

.playerReadyActive {
  color: red;
}  
