p {
  font-family: DNFBitBitv2;
}

.investmentInfo {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 8px;
  margin: 6px auto;
}

.investmentInfo:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}

.bunya {
  width: 180px;
  height: 35px;
  background: black;
  color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jusu {
  width: 160px;
  text-align: center;
}

.upDown {
  width: 90px;
  text-align: center;
}

.buttons {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  font-family: DNFBitBitv2;
  color: white;
}

.buyButtons:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.5s;
}

.sellButtons:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.5s;
}

hr {
  height: 20px !important;
  width: 4px;
  border-width: 0;
  color: #000;
  background-color: gray;
  border-radius: 10px;
}

button {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: auto 12px !important;
}

.buyButtons {
  background: #ff6e6e;
}

.sellButtons {
  background: #4e95ff;
}

.upDownPercentColorRed {
  color: #ff6e6e;
}

.upDownPercentColorBlue {
  color: #4e95ff;
}

.upDownPercentColorBlack {
  color: black;
}
