.contextMenu {
  width: 100%;
  height: auto;
  padding: 1px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: end;

}

.deleteButton {
  width: 15%;
  height: auto;
  /* border: 3px solid white; */
  background-color : #FB929E;
  color: white;
  font-weight: bold;
  font-size: 5%;
}

.deleteClose {
  width: 10%;
  height: auto;
  /* border: 3px solid white; */
  background-color : #FB929E;
  color: white;
  font-weight: bold;
  font-size: 5%;
}