.channelContainer {
    width: 70%;
    padding: 5%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px; 
  }

.channelBox {
    background-color: white(0, 0, 0, 0.6);
    border-radius: 20px;

}