.background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 8%; */
  }