.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 265px;
  background-color: #FFF6F6;
  /* background: rgba(255, 255, 255, 0.8); */
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border : 1px solid white;
  padding: 1%;
}

.passwordHeader {
  color: #FB929E;
}

.passwordInput {
  width: 80%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #FB929E;
}

.passwordInput:focus {
  outline: 1px solid red;
}

.roomBtn {
  background-color: #FB929E;
}

.roomBtn:hover {
  background-color: #FA7070;
}